services:
  server:
    build:
      context: .
    ports:
      - 8080:8080
    environment:
      - BASEURL=http://localhost:8080/ # Change-me
    volumes:
      - shorturl_data:/app/data

volumes:
  shorturl_data:  